*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#F9F3FF;

}

.wrapper{

display:flex;

min-height:100vh;

}

.sidebar{

width:250px;

background:white;

padding:30px;

box-shadow:0 0 20px rgba(0,0,0,.08);

}

.sidebar h3{

color:#7C4DFF;

margin-bottom:40px;

font-weight:700;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:15px;

margin-bottom:10px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.sidebar li i{

margin-right:10px;

}

.sidebar li:hover{

background:#EEE6FF;

}

.active{

background:#7C4DFF;

color:white;

}

.content{

flex:1;

padding:40px;

}


/* card*/
.top-cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:30px;

}

.card{

background:white;

padding:25px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.card h4{

margin-bottom:20px;

}

.card h1{

font-size:45px;

color:#7C4DFF;

}

.card span{

font-size:20px;

}

.progress{

height:15px;

background:#EEE;

border-radius:30px;

margin:20px 0;

overflow:hidden;

}

.progress-bar{

height:100%;

background:#8B5CF6;

border-radius:30px;

}